[submodule "bmya/l10n-chile"]
	path = bmya/l10n-chile
	url = git@github.com:bmya/l10n-chile.git
	branch = 10.0

[submodule "VKYC/ReportesProfesionales"]
	path = VKYC/ReportesProfesionales
	url = git@github.com:VKYC/ReportesProfesionales.git
	branch = master

[submodule "VKYC/Plantillas_VKYC_01"]
	path = VKYC/Plantillas_VKYC_01
	url = git@github.com:VKYC/Plantillas_VKYC_01.git
	branch = master
